html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: 100%;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  /*background: #f0f0f0; */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%; 
  line-height: 1; 
}

::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  /*font-style: italic;*/
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  /*font-style: italic;*/
}

br { display: block; line-height: 2.2em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; /*max-width: 100%;*/ }

.demo {
	font-size: 1em;
	text-align: center; 
	font-style: italic;
}

#topbar {
  background: #fff;
  padding: 10px 0 0 0;
  text-align: center;
  /*height: 36px;*/
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#topbar a {
  color: #4f4a41;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#topbar a:hover {
  opacity: 1;
}

#stickynav {
  display: block;
  height: 35px;
  width: 100%;
  z-index: 9999;
}

#stickynav #nav { position: fixed; z-index: 9999; }
#stickynav #nav li { display: inline; }
#stickynav #nav li a {
  display: block;
  float: left;
  margin-right: 8px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 7px;
  background: #cce4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#stickynav #nav li a:hover { 
  text-decoration: none;
  background: #d8f0d0;
}

#stickynav #nav li a.nav-active {
  color: #000;
}


.section {
  padding-top: 90px;
}

/** typography **/
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
	text-align: center;
}
h1:before {    
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {    
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}


h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}

a { color: #5a9352; text-decoration: none; }
a:hover { text-decoration: underline; }

.center { display: block; text-align: center; }



/** page structure **/
#w {
  display: block;
  /*width: 750px;*/
  margin: 0 auto;
  /*padding-top: 30px;*/
}
.td-logo {
	width: 1em;
}
.td-cost {
	font-size: 2.3em;
}
.filterDiv {
  /*float: left;*/
  margin: 2px;
	line-height: 1.75em;
  display: none;
}
.show {
  //display: block;
	display: table-row;
}
.gas-station {
	font-size: 2em;
}

.img-logo {
	width: 3.5em;
	image-rendering: -webkit-optimize-contrast;
	-moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: .4em;
    border-radius: 30px;
    border: 1px solid #a1a29e;
}
.sorting_1 {
	width: 25%;
}
#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.sign-in-options {
	width: 20%; 
	margin: 2em auto;
}


/** form elements **/
form label { font-size: 1.1em; line-height: 1.25em; font-weight: bold; margin-bottom: 5px; }


form input.basic {
    display: block;
    outline: none;
    font-size: 1.5em;
    color: #505050;
    width: 300px;
	margin: 2em auto;
    /*padding: 10px 8px 10px 8px;*/
    margin-bottom: 7px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #e4e2e2;
  /*-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);*/
}

/*#loginform {
margin: 2em auto;	
}*/


#logindetails {
  display: none;
}

/** button styles **/
/** source: http://codepen.io/joshnh/pen/KqzvG **/
.button {
  display: block;
  background-color: #ee5340;
  /*background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));*/
  border: none;
  border-radius: .25em;
  /*box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,0.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.25),
              0 .25em .25em hsla(0,0%,0%,.05);*/
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5;
  width: 25%;
  margin: 0 0 1em;
  padding: .5em 1.5em .75em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
  vertical-align: middle;
}
/*.button:hover {
  outline: none;
  text-decoration: none;
}
.button:hover,
.button:focus {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.25),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              0 .25em .25em hsla(0,0%,0%,.05);
}*/
.button:active {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              inset 0 .25em .5em hsla(0,0%,0%,.05),
              0 -1px 1px hsla(0,0%,0%,.1),
              0 1px 1px hsla(0,0%,100%,.25);
  margin-top: .25em;
  outline: none;
  padding-bottom: .5em;
  text-decoration: none;
}


/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 600px) {
	
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) { 
	.sign-in-options {
		width: 40%;
	}
	
	.button {
		margin-left: 25%;
    		margin-top: 3%;
    		width: 50%;
	}
}

.f32 .flag {
        vertical-align: middle;
        margin: -8px 0;
    }

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
.sign-in-options {
		width: 50%;
	}
	
	.button {
		margin-left: 30%;
    		margin-top: 3%;
    		width: 40%;
	}
	
	.demo {
	font-size: 1.34em;
	text-align: center; 
	font-style: italic;
}
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) { 
	.sign-in-options {
	width: 40%;
    	margin: 2em auto;
	}
	.button {
		margin-left: 30%;
    		margin-top: 3%;
    		width: 40%;
	}
	
	.demo {
	font-size: 1.34em;
	text-align: center; 
	font-style: italic;
	
	
}
@media only screen 
	and (max-width: 1400px) 
	and (max-device-width: 1600px) 
	and (-webkit-min-device-pixel-ratio: 2)
  	and (min-resolution: 192dpi) 
{ 
	.button {
		margin-left: 30%;
    		margin-top: 3%;
    		width: 40%;
	}
.demo {
    font-size: 1.4em;
	}
}
