
.logo {
content: 'Citgo' url(https://images.gasbuddy.io/33xauto/b/33.png);
content: 'Irving' url(https://images.gasbuddy.io/33xauto/b/71.png);
content: 'Mobil' url(https://images.gasbuddy.io/33xauto/b/92.png);
content: 'Shell' url(https://images.gasbuddy.io/33xauto/b/122.png);
content: 'Sunoco' url(https://images.gasbuddy.io/33xauto/b/130.png);
content: 'Cumberland Farms' url(https://images.gasbuddy.io/33xauto/b/43.png);
content: 'Sams Club' url(https://images.gasbuddy.io/33xauto/b/119.png);
content: 'BJs' url(https://images.gasbuddy.io/33xauto/b/22.png);
content: 'Gulf' url(https://images.gasbuddy.io/33xauto/b/61.png);


}

